header.header__Site
    .header__Site--Container
      figure.header__Site--Iz
        h1.title Zimba
      nav.header__Site--De
        ul.ul
         if menu === 'Inicio' 
          li.list.selectItem
            a(href="/panel/", class="tolink")
              i(class="fa fa-home" aria-hidden="true")
              | Inicio
         else
          li.list
            a(href="/panel/", class="tolink")
              i(class="fa fa-home" aria-hidden="true")
              | Inicio
         if menu === 'Propiedades' 
          li.list.selectItem
            a(href="/panel/propiedades", class="tolink")
              i(class="fa fa-folder-open" aria-hidden="true")
              | Propiedades
         else
          li.list
            a(href="/panel/propiedades", class="tolink")
              i(class="fa fa-folder-o" aria-hidden="true")
              | Propiedades
         if menu === 'Disponibles'
          li.list.selectItem
            a(href="/panel/disponibles", class="tolink")
             i(class="fa fa-folder-open" aria-hidden="true")
             | Disponibles
         else
          li.list
            a(href="/panel/disponibles", class="tolink")
             i(class="fa fa-folder-o" aria-hidden="true")
             | Disponibles
         if menu === 'Agenda'
          li.list.selectItem
            a(href="/panel/agenda", class="tolink")
             i(class="fa fa-calendar-plus-o", aria-hidden="true")
             | Agenda
         else
          li.list
            a(href="/panel/agenda", class="tolink")
             i(class="fa fa-calendar-plus-o", aria-hidden="true")
             | Agenda

         if menu === 'Config' 
          li.list.selectItem
            a(href="/panel/config", class="tolink")
              i(class="fa fa-cog" aria-hidden="true")
              | Config
         else
          li.list
            a(href="panel/config", class="tolink")
              i(class="fa fa-cog" aria-hidden="true")
              | Config

        div.header__User
          figure.header__UserFigure
             if foto
              img(src="/fotoprofile/#{foto}", alt="#{nombre}")
             else
              img(src="http://landestate.com.ar/wp-content/uploads/2014/09/6262664_orig.png")
          div.header__ShowData.jsDownShow
            span
              | #{nombre}
            .header__ShowData--SubMenu
              ul.ul.jsDown.uNoneDisplay
                li.listSub
                  a.link(href="/panel")
                    |Panel
                li.listSub
                  a.link(href="/panel/edit")
                    |Editar mi perfil
                li.listSub
                  a.link(href="/logout")
                    | Salir