<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="Administracion de inmobiliarias")
    
    title #{title}
    
    link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
    link(rel="stylesheet", href="../../../stylesheets/icons.css")
    link(rel="stylesheet", href="../../../stylesheets/app.css")
    link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

    script(src="../../../javascripts/jquery-1.11.2.min.js")
    script(src="../../../javascripts/app-dev1.js")
    script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

    //Library create edinsoncs flatui buttons
    script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


    //functions create edinsoncs
    script(src="../../../javascripts/app.js")
    script(src="../../../javascripts/dcalendar.picker.js")

body
  include inc/header
  main.widthBase.config
   section.config--Base
    header.config--Header
     h2.title
      | Configuracion de modulos
   .flexContainer 
    section.config--Modulos
      article.Modulos
       header.Modulos--Header
        h2.title
         | Config Email
       figure.Modulos--Figure
        i(class="fa fa-envelope", aria-hidden="true")
       div.Modulos--Description
        p.description
         | Configure y Edite información de los emails salientes a inquilinos u otra persona.
       div.Modulos--Link
        a.link(href="config/email")
         | Entrar

    section.config--Modulos
      article.Modulos
       header.Modulos--Header
        h2.title
         | Ticket
       figure.Modulos--Figure
        i(class="fa fa-ticket", aria-hidden="true")
       div.Modulos--Description
        p.description
         | Configure y Edite información de los emails salientes a inquilinos u otra persona.
       div.Modulos--Link
        a.link(href="ticket/support")
         | Entrar

    section.config--Modulos
      article.Modulos
       header.Modulos--Header
        h2.title
         | Pagos
       figure.Modulos--Figure
        i(class="fa fa-credit-card-alt", aria-hidden="true")
       div.Modulos--Description
        p.description
         | Configure y Edite información de los emails salientes a inquilinos u otra persona.
       div.Modulos--Link
        a.link(href="payment")
         | Entrar
