<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title  Administracion Inmobiliaria
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

  include inc/base

  link(rel="stylesheet", href="stylesheets/normalize.min.css")
  link(rel="stylesheet", href="stylesheets/icons.css")
  link(rel="stylesheet", href="stylesheets/app.css")
  
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="javascripts/app.js")
  script(type="text/javascript", src="//resources.mlstatic.com/mptools/render.js")

body.bgHome
  
  section.panelHomeLogin.newAccountPanel
    figure.panelHomeLogin__Figure
      img(src="images/logo.png", alt="", width="50px")
    header.panelHomeLogin__Header
      h2.title
        | Registrar
    form.formPanelHome--Form(action="new/newaccount", method="post", enctype="multipart/form-data")
      fieldset.formPanelHome--Fieldset
       input(type="text", class="inputLogin", placeholder="Nombre", name="nombre", minlength="3", required)
      fieldset.formPanelHome--Fieldset
       input(type="text", placeholder="Empresa", name='empresa', class="inputLogin", required, maxlength="25", minlength="3")
      fieldset.formPanelHome--Fieldset
       input(type="email", placeholder="Email", name='email', class="inputLogin", required)
      fieldset.formPanelHome--Fieldset
       input(type="text", placeholder="Dirección", name='direccion', class="inputLogin", required)
      fieldset.formPanelHome--Fieldset
       input(type="text", placeholder="Teléfono", name='tel', class="inputLogin", required)
      fieldset.formPanelHome--Fieldset
        input(type="password", placeholder="password", name="password", class="inputLogin", required)
      fieldset.formPanelHome--Fieldset
       select(name="typeaccount")
        option(value="Tipo de cuenta") Tipo de cuenta
        option(value="0") 15 Dias gratis
        option(value="3") 3 Meses
        option(value="6") 6 Meses
        option(value="12") 12 Meses
      fieldset.formPanelHome--Fieldset.jsAdding
      
      fieldset.formPanelHome--Fieldset.logoRegister
       label.logoRegister--Name
        | * Selecionar un logo: JPG, PNG
       input(type="file", name="logo", required)

      fieldset.formPanelHome--Fieldset
        input(type="submit", value="Registrar")
    div.formPanelHome--NewAccount
     a.NewAccount--Link(href="new")
      i.fa.fa-user(aria-hidden="true")
      | Ingresar


    