<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title  Administracion Inmobiliaria
    include inc/base
      
    link(rel="stylesheet", href="stylesheets/normalize.min.css")
    link(rel="stylesheet", href="stylesheets/icons.css")
    link(rel="stylesheet", href="stylesheets/app.css")
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

body.bgHome
  
  section.panelHomeLogin
    figure.panelHomeLogin__Figure
      img(src="images/logo.png", alt="", width="50px")
    header.panelHomeLogin__Header
      h2.title.red
        | Error al ingresar
    form.formPanelHome--Form(action="/login", method="post")
      fieldset.formPanelHome--Fieldset
       input(type="text", placeholder="email", name='email', class="inputLogin")
      fieldset.formPanelHome--Fieldset
        input(type="password", placeholder="password", name="password", class="inputLogin")
      fieldset.formPanelHome--Fieldset
        input(type="submit", value="Ingresar")

    