<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(name="description", content="Administracion de inmobiliarias")
  base(href="http://zimba.me/")

  title #{title}
  
  link(rel="stylesheet", href="stylesheets/normalize.min.css")
  link(rel="stylesheet", href="stylesheets/icons.css")
  link(rel="stylesheet", href="stylesheets/app.css")

  //CDN
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css")

  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

  script(src="https://code.jquery.com/jquery-3.0.0.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="javascripts/animatedModal.min.js") 
  script(src="javascripts/app-dev1.js")

body
  a#demo01(href="#animatedModal") 
  #animatedModal
      
      .close-animatedModal
        | CLOSE MODAL
      .modal-content
      
  include inc/header

  section.header__Welcome.widthBase
    header.header__Welcome--Iz
     h2.title
      i(class="fa fa-briefcase", aria-hidden="true")
      |   #{empresa} 
    aside.header__Welcome--De
      h2.title.jsAddDate
        | Loading...

  main.widthBase
    section.show__Welcome--Data
      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Propiedades Contratadas

      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Propiedades Disponibles


      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Clientes Contratados


      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Agenda
    
  