<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title  Administracion Inmobiliaria
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

  include inc/base

  link(rel="stylesheet", href="stylesheets/normalize.min.css")
  link(rel="stylesheet", href="stylesheets/icons.css")
  link(rel="stylesheet", href="stylesheets/app.css")
  
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

body.bgHome
  
  section.panelHomeLogin.newAccountPanel
    figure.panelHomeLogin__Figure
      img(src="images/logo.png", alt="", width="50px")
    header.panelHomeLogin__Header
      h2.title
        | Felicidades
    div.formPanelHome--Form
      div.formPanelHome--Form--Show
        h2.formPanelHome--Form--Success
          | Se creo su cuenta correctamente
        p
          | Para habilitar su cuenta realice un deposito a nuestra cuenta bancaria
          img(src="img/mlsa.png", alt="")
          br
          | Envienos un email con el pago realizado: atencion@zimba.com
      div.formPanelHome--Form--Link
        a.link(href="/")
          | Ingresar

    