@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.c1 {
  width: 1220px;
}

.c2 {
  width: 620px;
}

.c3 {
  width: 140px;
}

.absolute {
  position: absolute;
}

.uNoneDisplay {
  display: none;
}

.uNone {
  text-decoration: none;
}

.cursorPointer {
  cursor: pointer;
}

* {
  border-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.widthBase {
  width: 1220px;
  margin: 0 auto;
}

.btn {
  padding: 0.8em 1em;
  background-color: #dedede;
  color: white;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.NotifyContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  background-color: #5CB811;
  padding: 1em;
  margin-top: 116px;
}

.NotifyContainer .NotifyContainer--Title .title {
  font-weight: 400px;
  color: white;
  font-size: 1em;
}

table {
  background-color: white;
  border: 1px solid #ddd;
}

table thead > tr > th {
  border: 1px solid #ddd;
  padding: 0.8em;
  color: #34789f;
}

table tbody > tr > td {
  border: 1px solid #ddd;
  padding: 0.5em;
}

.bgHome {
  background: #3498DB;
}

.panelHomeLogin {
  position: absolute;
  width: 450px;
  background-color: #fff;
  padding: 1em;
  left: 50%;
  top: 50%;
  margin-left: -14em;
  margin-top: -5em;
  box-shadow: 10px 14px 0 rgba(0, 0, 0, 0.27);
}

.panelHomeLogin .panelHomeLogin__Header {
  text-align: center;
  padding: 0 0 1em 0;
}

.panelHomeLogin .panelHomeLogin__Header .title {
  font-weight: 400;
}

.panelHomeLogin .formPanelHome--Form fieldset {
  margin: 0 0 0.5em 0;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text'], .panelHomeLogin .formPanelHome--Form input[type='password'] {
  width: 95%;
  height: 30px;
  padding: 0.5em 0.5em;
  outline: medium none;
  transition: all 0.5s linear;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text']:hover, .panelHomeLogin .formPanelHome--Form input[type='password']:hover {
  box-shadow: 0 0 12px #3498DB;
  border: 1px solid #3498DB;
  color: #3498DB;
}

.panelHomeLogin .formPanelHome--Form fieldset:nth-child(3) {
  text-align: center;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='submit'] {
  background-color: #3498db;
  border: none;
  padding: 0.8em 1em;
  color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.header__Site {
  background-color: #344c59;
}

.header__Site .header__Site--Container {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__Site .header__Site--Container .header__Site--Iz .title {
  font-weight: 400;
  color: white;
}

.header__Site .header__Site--Container .header__Site--De {
  width: 73.5%;
  display: flex;
}

.header__Site .header__Site--Container .header__Site--De .ul .list {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 0;
  width: 153px;
  text-align: center;
  line-height: 30px;
  padding: 0.7em 0.6em;
}

.header__Site .header__Site--Container .header__Site--De .ul .list .tolink {
  text-decoration: none;
  color: white;
}

.header__Site .header__Site--Container .header__Site--De .ul .list i {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
}

.header__Site .header__Site--Container .header__Site--De .ul .list:hover {
  background: #436070;
  box-shadow: inset 0 0 4px #2f6e92;
}

.header__Site .header__Site--Container .header__Site--De .selectItem {
  background: #51768b;
  box-shadow: inset 0 0 4px #446070;
}

.header__Site .header__Site--Container .header__Site--De .header__User {
  margin: 0 0 0 1em;
  display: flex;
  justify-content: space-between;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure {
  margin: 0.2em 0.5em 0.2em 0;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure img {
  width: 45px;
  display: block;
  border-radius: 50%;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData {
  position: relative;
  cursor: pointer;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData span {
  color: white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu {
  position: absolute;
  background-color: #D8D8D8;
  width: 170px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -7em;
  margin-top: 1.6em;
  z-index: 999;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub {
  list-style-type: none;
  border-bottom: 1px solid white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub .link {
  text-decoration: none;
  color: #3c8dbc;
}

.header__Welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  padding: 0.5em;
  margin: 2em auto;
}

.header__Welcome .header__Welcome--Iz .title {
  font-weight: 400;
  background-color: #F89406;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.header__Welcome .header__Welcome--Iz .ul {
  background-color: #F89406;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em;
  text-transform: uppercase;
}

.header__Welcome .header__Welcome--Iz .ul .list {
  list-style-type: none;
  display: inline-block;
  margin: 0 1em 0 0;
}

.header__Welcome .header__Welcome--Iz .ul .list a.link {
  text-decoration: none;
  color: white;
}

.header__Welcome .header__Welcome--Iz .ul .list a.actuality {
  text-transform: capitalize;
}

.header__Welcome .header__Welcome--De .title {
  font-weight: 400;
  font-size: 1em;
  color: #3C8DBC;
}

main .show__Welcome--Data {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2em 0;
}

main .show__Welcome--Data .data__Services .data__Services--Cont {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: white;
  border: 1px solid #dedede;
}

main .show__Welcome--Data .data__Services .data__Services--Cont .Show {
  font-size: 5em;
  font-weight: 400;
  color: #aeaeae;
}

main .show__Welcome--Data .data__Services .data__Services--Show {
  text-align: center;
  padding: 0.5em 1em;
  background-color: #4CAF50;
  color: white;
}

main .show__Welcome--Options .Options__Container {
  width: 48%;
  background-color: white;
  height: 500px;
}

main .show__Welcome--Options .Options__Container .options__Container--Header {
  background-color: #3498DB;
  padding: 0.2em 1em;
}

main .show__Welcome--Options .Options__Container .options__Container--Header .title {
  font-weight: 400;
  color: white;
}

main .show__Welcome--Options .options__Container--Ul .listPayment {
  list-style-type: none;
  padding: 0.5em;
  color: #8d8d8d;
  border-bottom: 1px solid #f0eaea;
  font-family: 'Lato', sans-serif;
}

main .show__Welcome--Options .options__Container--Ul .listPayment .namePropiedad {
  text-transform: uppercase;
}

main .main__Content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  padding: 1em 0;
}

main .main__Content .main__Content--Iz {
  width: 16%;
  margin: 0 5em 0 0;
}

main .main__Content .main__Content--Iz .Iz--Figure {
  width: 200px;
}

main .main__Content .main__Content--Iz .Iz--Figure img {
  width: 100%;
  display: block;
}

main .main__Content .main__Content--Iz .Iz--Header {
  text-align: center;
}

main .main__Content .main__Content--Iz .Iz--Header .title {
  font-weight: 400;
  text-transform: capitalize;
}

main .main__Content .main__Content--De {
  width: 40%;
  padding: 1em 0 0 1em;
  background-color: #F3F3F3;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset {
  margin: 0 0 0.5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child {
  margin: 2em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child label:before {
  content: "";
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label {
  display: block;
  margin: 0 0 .5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label:before {
  content: "- ";
  font-weight: 800;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input {
  padding: 0.5em;
  width: 97%;
  border-radius: 3px;
  outline: medium none;
  border: none;
  border: 1px solid #8F8B8B;
  color: #8F8B8B;
  box-shadow: inset 0 0 29px #E2E1E1;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input:hover {
  box-shadow: 0 0 10px #2293D5;
  border: 1px solid #2293D5;
}

main .ContainerPropiedades {
  margin: 2em 0;
}

main .ContainerPropiedades .articlesPropiedades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#eaeaea, #e6e6e6);
  padding: 0.8em 0.5em;
  box-shadow: inset 0 0 31px #dad6d6;
  border-bottom: 2px solid #dad7d7;
}

main .ContainerPropiedades .articlesPropiedades:hover {
  background-color: white;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Header {
  width: 20%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Header .title {
  font-weight: 700;
  font-size: 0.9em;
  color: #717273;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Description {
  width: 35%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Description .description {
  font-size: 0.9em;
  color: #717273;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Cant {
  width: 15%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Cant .description {
  font-size: 0.9em;
  color: #717273;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions {
  display: flex;
  justify-content: space-between;
  width: 22%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .Actions--Buttons .linkBtn {
  background-color: #dedede;
  padding: 0.5em 0.8em;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .Actions--Buttons .linkBtn i {
  margin: 0 0.4em 0 0;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .Actions--Buttons:first-child .linkBtn {
  background-color: #3498db;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .Actions--Buttons:nth-child(2) .linkBtn {
  background-color: #27ae60;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .Actions--Buttons:last-child .linkBtn {
  background-color: #e74c3c;
}

.add .newPropiedad--Header {
  margin: 0 0 0.5em 0;
}

.add .newPropiedad--Header .title {
  margin: 0;
  font-weight: 400;
  color: #3c8dbc;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  padding: 0.5em;
  background-color: white;
}

.add .form--Container {
  display: flex;
  justify-content: space-between;
}

.add .newPropiedad--Form {
  width: 100%;
  border: 1px solid #E6E9ED;
  background-color: #fff;
  padding: 0 1em;
}

.add .newPropiedad--Form .fieldset--StepsContainer {
  display: flex;
  justify-content: space-between;
}

.add .newPropiedad--Form .fieldset--Steps {
  margin: 2em 0;
  width: 40%;
}

.add .newPropiedad--Form .fieldset--Steps .header--Steps .title {
  font-weight: 400;
  color: #3c8dbc;
  margin: 0.5em 0;
}

.add .newPropiedad--Form .fieldset--Steps .header--Steps .title i {
  margin: 0 0.5em 0 0;
}

.add .newPropiedad--Form .fieldset--Form {
  border: none;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.add .newPropiedad--Form .fieldset--Form input[type='text'],
.add .newPropiedad--Form .fieldset--Form input[type='number'],
.add .newPropiedad--Form .fieldset--Form input[type='date'],
.add .newPropiedad--Form .fieldset--Form select,
.add .newPropiedad--Form .fieldset--Form input[type='email'],
.add .newPropiedad--Form .fieldset--Form input[type='file'],
.add .newPropiedad--Form .fieldset--Form input[type='tel'] {
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 4px;
  border: none;
  border: 1px solid #dedede;
  outline: medium none;
}

.add .newPropiedad--Form .fieldset--Form input[type='text']:focus,
.add .newPropiedad--Form .fieldset--Form input[type='number']:focus,
.add .newPropiedad--Form .fieldset--Form input[type='date']:focus,
.add .newPropiedad--Form .fieldset--Form select:focus,
.add .newPropiedad--Form .fieldset--Form input[type='email']:focus,
.add .newPropiedad--Form .fieldset--Form input[type='file']:focus,
.add .newPropiedad--Form .fieldset--Form input[type='tel']:focus {
  border-color: #66afe9;
}

.add .newPropiedad--Form .fieldset--Form input[type='submit'] {
  border: none;
}

.add .newPropiedad--Form .fieldset--Form .fieldset--Form--Figure {
  width: 250px;
  display: block;
  margin: 0 auto;
  border: 7px solid #dedede;
  border-radius: 4px;
  background-size: cover;
  display: block;
  height: 150px;
}

.add .newPropiedad--Form .fieldset--Form .subirImg {
  display: block;
  text-align: center;
  margin: 1em auto 1.3em auto;
  width: 25%;
  cursor: pointer;
}

.add .newPropiedad--Form .tree input,
.add .newPropiedad--Form .tree select {
  width: 95% !important;
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.view .view--Iz {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.view .view--Iz .view--Iz--Top {
  text-align: left;
  width: 100%;
  position: relative;
  margin: 0.5em 0;
}

.view .view--Iz .view--Iz--Top .title {
  font-weight: 400;
  color: #34789f;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.view .view--Iz .view--Iz--Top .itemsProperty {
  color: #fff;
  margin: 2em auto;
  padding: 0.8em 0;
  width: 40%;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1.5em;
  margin-right: 0;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list {
  display: inline-block;
  margin: 0 1em;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list .link {
  text-decoration: none;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list .btn--Print {
  background-color: #e74c3c;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list .btn--Notify {
  background-color: #34495e;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list .btn--Ticket {
  background-color: #27ae60;
}

.view .view--Iz .view--Iz--Top .itemsProperty .list:last-child {
  margin: 0 0 0 1em;
}

.view .view--Iz .view--Iz--Top .itemsProperty i {
  font-size: 1.2em;
}

.view .view--Iz .view--Iz--SubMenu {
  width: 100%;
  display: block;
}

.view .view--Iz .view--Iz--SubMenu .subMenu--Ul .list {
  display: inline-block;
  margin: 1em 1em 1em 0;
}

.view .view--Iz .view--Iz--SubMenu .subMenu--Ul .list .link {
  text-decoration: none;
  color: #344c59;
}

.view .view--Iz .view--Iz--SubMenu .subMenu--Ul .list .link:hover {
  text-decoration: underline;
}

.view .view--Iz .view--Iz--Flex {
  display: flex;
  justify-content: space-between;
}

.view .view--Iz .view--Iz--Flex .itemUno,
.view .view--Iz .view--Iz--Flex .itemDos {
  width: 40%;
}

.view .view--Iz .view--Iz--Info {
  margin: 0.8em 0;
  width: 49%;
  background-color: white;
  border: 1px solid #E6E9ED;
  padding: 0.5em 1em;
}

.view .view--Iz .view--Iz--Info .view--Iz--Info--Header {
  margin: 1em 0 2em 0;
  padding: 0.5em 0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.view .view--Iz .view--Iz--Info .view--Iz--Info--Header .title {
  font-weight: 400;
  color: #9E9E9E;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5em 0;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz {
  width: 40%;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De {
  width: 50%;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz .titleNames,
.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De .titleNames {
  letter-spacing: 0.5px;
  padding: 0.5em;
  color: #3c8dbc;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz .titleNames i,
.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De .titleNames i {
  color: #66afe9;
  font-size: 1.4em;
}

.view .view--Iz .view--Iz--Info .view--showOne--Details {
  margin: 0 0.5em;
}

.view .view--Iz .view--Iz--Info .view--showOne--Details .showOne .titlesNames {
  letter-spacing: 0.5px;
  padding: 0.5em 0;
  color: #3c8dbc;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  line-height: 30px;
  color: #3c8dbc;
}

.view .view--Iz .view--Iz--Info .view--showOne--Details .showOne .titlesNames i {
  color: #66afe9;
  font-size: 1.4em;
}

.view .view--De {
  width: 45%;
  display: none;
  padding: 2em 1em;
}

.view .view--De .view--De--Top {
  margin: 0 0 2em 0;
  text-align: center;
}

.view .view--De .view--De--Top .btn--Notify {
  border-radius: 4px;
  background-color: #3c8dbc;
  margin: 0 1.5em 0 0;
}

.view .view--De .view--De--Top .btn--Calendar {
  background-color: #E52F62;
  border-radius: 4px;
  margin: 0 1.5em 0 0;
}

.view .view--De .view--De--Top .btn--Ticket {
  background-color: #27ae60;
  border-radius: 4px;
}

.view .view--De .view--De--ShowNotify {
  background-color: #fff;
  border: 1px solid #3c8dbc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.view .view--De .view--De--ShowNotify .header--ShowNotify {
  text-align: center;
  background-color: #3c8dbc;
  padding: 0.5em 0;
}

.view .view--De .view--De--ShowNotify .header--ShowNotify .title {
  font-weight: 400;
  color: #fff;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify {
  margin: 0.5em 0;
  max-height: 450px;
  overflow-y: scroll;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify .list--ShowNotify {
  list-style-type: none;
  color: #6f6f6f;
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #dddddc;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify .list--ShowNotify i {
  color: #3c8dbc;
  margin: 0 0.5em 0 0;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify .list--ShowNotify:last-child {
  border-bottom: 1px solid transparent;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar {
  width: 12px;
  padding: 0.5em;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar-thumb {
  background: #3c8dbc;
  border-radius: 2px;
}

.view .view--De .view--De--ShowNotify .container--LinkVerMas {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: white;
}

.view .view--De .view--De--ShowNotify .container--LinkVerMas .link {
  text-decoration: none;
  color: #3c8dbc;
}

.view .view--De .view--De--ShowNotify .container--LinkVerMas:hover {
  background-color: #3c8dbc;
}

.view .view--De .view--De--ShowNotify .container--LinkVerMas:hover .link {
  color: white;
  text-decoration: underline;
}

.view .view--De .view--De--ShowNotify .showMessageNotAll {
  padding: 1em 0.8em;
  text-align: center;
}

.view .view--De .view--De--ShowNotify .showMessageNotAll .title {
  font-weight: 400;
  font-size: 1.2em;
}

.view .view--De .view--De--ShowDeudas {
  margin: 1em 0;
  border: 1px solid #1A4C6D;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.view .view--De .view--De--ShowDeudas .showDeudas--Header {
  background-color: #1A4C6D;
  text-align: center;
  padding: 0.5em 0;
}

.view .view--De .view--De--ShowDeudas .showDeudas--Header .title {
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
}

.view .view--De .view--De--ShowDeudas .showDeudas--Container {
  text-align: center;
  padding: 0.5em 0;
  margin: 1em 0;
}

.view .view--De .view--De--ShowDeudas .showDeudas--Container .title {
  font-size: 2em;
  font-weight: 400;
}

.view .view--De .view--De--ShowPagos {
  border: 1px solid #27ae60;
  margin: 1em 0 0 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.view .view--De .view--De--ShowPagos .header--ShowPagos {
  text-align: center;
  background-color: #27ae60;
}

.view .view--De .view--De--ShowPagos .header--ShowPagos .title {
  font-weight: 400;
  color: #fff;
  padding: 0.5em 0;
}

.view .view--De .view--De--ShowPagos .showMessageNotAll {
  padding: 1em 0.8em;
  text-align: center;
}

.view .view--De .view--De--ShowPagos .showMessageNotAll .title {
  font-weight: 400;
  font-size: 1.2em;
}

.view .view--De .view--De--ShowPagos .container--ShowPagos .list--ShowPagos {
  list-style-type: none;
  color: #6f6f6f;
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #dddddc;
}

.view .view--De .view--De--ShowPagos .container--ShowPagos .list--ShowPagos i {
  color: #27ae60;
}

.view .view--De .view--De--ShowPagos .show--SumDetails {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em 1em;
  background: white;
}

.view .view--De .view--De--ShowPagos .show--SumDetails .link {
  color: #27ae60;
  text-decoration: none;
}

.view .view--De .view--De--ShowPagos .show--SumDetails .link:hover {
  text-decoration: underline;
}

.view .view--De .view--De--ShowCuentaCorriente {
  border: 1px solid #f89406;
  margin: 1em 0 0 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.view .view--De .view--De--ShowCuentaCorriente .header--ShowPagos {
  text-align: center;
  background-color: #f89406;
  padding: 0.5em 0;
}

.view .view--De .view--De--ShowCuentaCorriente .header--ShowPagos .title {
  font-weight: 400;
  color: #fff;
}

.view .view--De .view--De--ShowCuentaCorriente .showMessageNotAll {
  padding: 1em 0.8em;
  text-align: center;
}

.view .view--De .view--De--ShowCuentaCorriente .showMessageNotAll .title {
  font-weight: 400;
  font-size: 1.2em;
}

.view .view--De .view--De--ShowCuentaCorriente .container--ShowPagos .list--ShowPagos {
  list-style-type: none;
  color: #6f6f6f;
  padding: 0.8em 0.5em;
  text-align: center;
}

.view .view--De .view--De--ShowCuentaCorriente .container--ShowPagos .list--ShowPagos i {
  color: #f89406;
}

.view .view--NotifyBG {
  background-color: rgba(0, 0, 0, 0.49);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 899;
  display: none;
}

.view .view--Notify {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
  display: none;
  z-index: 901;
}

.view .view--Notify .formNotify__Fieldset textarea {
  resize: none;
}

.view .view--Notify .formNotify__Fieldset input,
.view .view--Notify .formNotify__Fieldset textarea {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
}

.view .view--Notify .formNotify__Fieldset input[type='submit'] {
  background-color: #1abc9c;
  color: white;
  outline: medium none;
}

.view .view--Pagos {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
  display: none;
  z-index: 900;
}

.view .view--Pagos .formPagos__Fieldset textarea {
  resize: none;
}

.view .view--Pagos .formPagos__Fieldset input,
.view .view--Pagos .formPagos__Fieldset select,
.view .view--Pagos .formPagos__Fieldset textarea {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
}

.view .view--Pagos .formPagos__Fieldset input[type='submit'] {
  background-color: #1abc9c;
  color: white;
  outline: medium none;
}

.view .view--Pagos .formPagos__Fieldset--Flex {
  display: flex;
  justify-content: space-between;
}

.view .view--Pagos .formPagos__Fieldset--Flex .fieldset--Flex--Iz,
.view .view--Pagos .formPagos__Fieldset--Flex .fieldset--Flex--Center {
  text-align: center;
}

.view .view--Pagos .formPagos__Fieldset--Flex label {
  display: block;
}

.view .view--Pagos .formPagos__Fieldset--Flex div,
.view .view--Pagos .formPagos__Fieldset--Flex fieldset,
.view .view--Pagos .formPagos__Fieldset--Flex input,
.view .view--Pagos .formPagos__Fieldset--Flex select {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
  width: 88%;
}

.view .view--Pagos .formPagos__Fieldset--Flex div input[type="checkbox"] {
  background-color: red;
}

.view .view--Pagos .formPagos__Fieldset--Flex div input[type="checkbox"]:checked + .circleCheckbox {
  opacity: 1;
  animation: check 1s infinite;
}

@keyframes check {
  20% {
    box-shadow: 0 0 2px black;
  }
}

.view .view--Pagos .formPagos__Fieldset--Flex div .circleCheckbox {
  width: 20px;
  height: 20px;
  background-color: #fdfdfd;
  border: 5px solid #607D8B;
  border-radius: 50%;
  opacity: 0.2;
  margin: 0 auto;
}

.view .view--Calendar {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
  display: none;
}

.payments .newPayments--Header .title {
  margin: 0;
  font-weight: 400;
}

.payments .payments--Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payments .payments--Container .payments--Articles {
  width: 250px;
  border: 1px solid #27ae60;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 1em 0 1em 0;
}

.payments .payments--Container .payments--Articles .payments--Articles--Header {
  text-align: center;
  padding: 0.5em 0;
  background-color: #27ae60;
}

.payments .payments--Container .payments--Articles .payments--Articles--Header .title {
  font-weight: 400;
  color: white;
  font-size: 1.4em;
}

.payments .payments--Container .payments--Articles .payments--Articles--Cantidad {
  text-align: center;
  padding: 1em 0;
}

.payments .payments--Container .payments--Articles .payments--Articles--Cantidad .cantidad {
  font-weight: 400;
}

.notify .newNotify--Header .title {
  margin: 0;
  font-weight: 400;
}

.notify .notify--Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notify .notify--Container .notify--Articles {
  width: 250px;
  border: 1px solid #3c8dbc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 1em 0 1em 0;
}

.notify .notify--Container .notify--Articles .notify--Articles--Header {
  text-align: center;
  padding: 0.5em 0;
  background-color: #3c8dbc;
}

.notify .notify--Container .notify--Articles .notify--Articles--Header .title {
  font-weight: 400;
  color: white;
  font-size: 1.4em;
}

.notify .notify--Container .notify--Articles .notify--Articles--Cantidad {
  padding: 1em;
}

.notify .notify--Container .notify--Articles .notify--Articles--Cantidad .cantidad {
  font-weight: 400;
}

.config .config--Base {
  margin: 1em 0;
}

.config .config--Base .config--Header .title {
  font-weight: 400;
  color: #525050;
}

.config .config--Modulos .Modulos {
  width: 320px;
  border: 1px solid #21bdee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.config .config--Modulos .Modulos .Modulos--Header {
  background-color: #21bdee;
  text-align: center;
  padding: 0.5em 0;
}

.config .config--Modulos .Modulos .Modulos--Header .title {
  font-weight: 400;
  color: white;
}

.config .config--Modulos .Modulos .Modulos--Figure {
  text-align: center;
  margin: 1em 0;
}

.config .config--Modulos .Modulos .Modulos--Figure i {
  color: #21bdee;
  font-size: 4em;
}

.config .config--Modulos .Modulos .Modulos--Description {
  padding: 1em 1em;
}

.config .config--Modulos .Modulos .Modulos--Description .description {
  color: #737373;
}

.config .config--Modulos .Modulos .Modulos--Link {
  text-align: center;
  margin: 0 0 1em 0;
}

.config .config--Modulos .Modulos .Modulos--Link .link {
  background-color: #21bdee;
  box-shadow: 0 4px 0 #117ea0;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  outline: medium none;
}

.config .config--Email {
  display: flex;
  justify-content: space-between;
}

.config .config--Email .config--Email--Form {
  width: 35%;
  padding: 1em;
  border: 2px solid #21bdee;
}

.config .config--Email .config--Email--Form .Form--Fieldset .label {
  display: block;
  margin: 0.4em 0;
  color: #2b2929;
}

.config .config--Email .config--Email--Form .Form--Fieldset input[type='select'] {
  padding: 0.5em 0.2em;
}

.config .config--Email .config--Email--Form .Form--Fieldset input[type='text'] {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  border: 1px solid #dedede;
  outline: medium none;
  padding: 0.5em 0.2em;
  width: 100%;
}

.config .config--Email .config--Email--Form .Form--Fieldset input[type='submit'] {
  border: none;
}

.config .config--Email .config--Email--Form .Form--Fieldset:last-child input {
  background-color: #21bdee;
  color: white;
  margin: 1em 0;
  padding: 1em 0;
}

.config .config--Email .config--Email--Demo {
  width: 40%;
}

.config .config--Email .config--Email--Demo .Email--Header {
  display: flex;
  justify-content: space-between;
}

.config .config--Email .config--Email--Demo .Email--Header .logo {
  width: 90px;
  height: 90px;
  background-color: #dedede;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: logo 2s infinite;
  background-position: center;
}

@keyframes logo {
  50% {
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines {
  width: 320px;
  background-color: #dedede;
  height: 4px;
  display: block;
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines .descriptionLines--Header {
  padding: 1em 0 0 0;
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines .descriptionLines--Header .title {
  font-weight: 400;
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines:nth-child(2) {
  margin: 1em 0;
  animation: lineOne 3s infinite;
}

@keyframes lineOne {
  50% {
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines:nth-child(3) {
  margin: 1em 0;
  animation: lineTwo 4s infinite;
}

@keyframes lineTwo {
  50% {
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}

.config .config--Email .config--Email--Demo .Email--Header .descriptionLines:nth-child(4) {
  margin: 1em 0;
  animation: lineTree 5s infinite;
}

@keyframes lineTree {
  50% {
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}

.config .config--Email .config--Email--Demo .Email--ShowMessage {
  width: 100%;
  margin: 2em 0;
  background-color: rgba(222, 222, 222, 0.43);
  height: 250px;
  border-radius: 4px;
  animation: messages 4s infinite;
}

@keyframes messages {
  50% {
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}

.config .config--Email .config--Email--Demo .Email--Footer {
  width: 100%;
  height: 100px;
  background-color: rgba(222, 222, 222, 0.43);
}

.config .config--Email .config--Email--Demo .Email--Footer .Email--Footer--Show {
  text-align: center;
  padding: 5em 0 0 0;
  font-size: 0.9rem;
}

.config .config--Email .config--Email--Demo .Email--Footer .Email--Footer--Show .title {
  text-transform: capitalize;
  color: #5a5959;
}

.config .config--Email .config--Email--Demo .Email--Footer .Email--Footer--Show .title i {
  margin: 0 0.5em 0 0;
}

.config .config--Email .config--Email--Demo .Email--Footer .Email--Footer--Show .separed {
  margin: 0 0.3em;
}

@media print {
  .header__Site, .header__Welcome--Iz, .view--Iz--Top, .header__Welcome--De, .view--Iz--SubMenu {
    display: none;
  }
  .view--NotyContainer--Download {
    display: none;
  }
  .view--Iz--SubMenu {
    display: none;
  }
  .subMenu--Ul {
    display: none;
  }
  .view--NotifyContainer {
    display: none;
  }
}

.uCursor {
  cursor: pointer;
}

.dataMensaje {
  width: 250px;
  background-color: black;
  height: auto;
  position: absolute;
  border-radius: 5px;
  padding: 0.5em;
  display: none;
}

.dataMensaje span {
  color: white;
}

.dataMensaje .dataMensaje--Close {
  position: absolute;
  right: 0;
  margin-right: 0.3em;
  cursor: pointer;
  background-color: white;
  padding: 0.2em 0.5em;
  border-radius: 50%;
}

.dataMensaje .dataMensaje--Close span {
  color: black;
  font-size: 0.8em;
}

.linkDownload {
  background-color: #3FC380;
  padding: 0.7em 1em;
  border-radius: 5px;
  color: white;
  display: block;
  text-decoration: none;
  margin: 0 0 1em 0;
  width: 180px;
}

.linkDownload i {
  margin: 0 0.5em 0 0;
}

#dataDown table {
  width: 1220px;
  margin: 0 auto;
}
