h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.c1 {
  width: 1220px;
}

.c2 {
  width: 620px;
}

.c3 {
  width: 140px;
}

.absolute {
  position: absolute;
}

.uNoneDisplay {
  display: none;
}

.uNone {
  text-decoration: none;
}

* {
  border-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.widthBase {
  width: 1220px;
  margin: 0 auto;
}

.btn {
  padding: 0.8em 1em;
  background-color: #dedede;
  color: white;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.bgHome {
  background: #3498DB;
}

.panelHomeLogin {
  position: absolute;
  width: 450px;
  background-color: #fff;
  padding: 1em;
  left: 50%;
  top: 50%;
  margin-left: -14em;
  margin-top: -5em;
  box-shadow: 10px 14px 0 rgba(0, 0, 0, 0.27);
}

.panelHomeLogin .panelHomeLogin__Header {
  text-align: center;
  padding: 0 0 1em 0;
}

.panelHomeLogin .panelHomeLogin__Header .title {
  font-weight: 400;
}

.panelHomeLogin .formPanelHome--Form fieldset {
  margin: 0 0 0.5em 0;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text'], .panelHomeLogin .formPanelHome--Form input[type='password'] {
  width: 95%;
  height: 30px;
  padding: 0.5em 0.5em;
  outline: medium none;
  transition: all 0.5s linear;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text']:hover, .panelHomeLogin .formPanelHome--Form input[type='password']:hover {
  box-shadow: 0 0 12px #3498DB;
  border: 1px solid #3498DB;
  color: #3498DB;
}

.panelHomeLogin .formPanelHome--Form fieldset:nth-child(3) {
  text-align: center;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='submit'] {
  background-color: #3498db;
  border: none;
  padding: 0.8em 1em;
  color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.header__Site {
  background-color: #3c8dbc;
}

.header__Site .header__Site--Container {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__Site .header__Site--Container .header__Site--Iz .title {
  font-weight: 400;
  color: white;
}

.header__Site .header__Site--Container .header__Site--De {
  width: 38.5%;
  display: flex;
}

.header__Site .header__Site--Container .header__Site--De .ul .list {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 0;
  width: 153px;
  text-align: center;
  line-height: 30px;
  padding: 0.6em;
}

.header__Site .header__Site--Container .header__Site--De .ul .list .tolink {
  text-decoration: none;
  color: white;
}

.header__Site .header__Site--Container .header__Site--De .ul .list i {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
}

.header__Site .header__Site--Container .header__Site--De .ul .list:hover {
  background: #34789F;
  box-shadow: inset 0 0 4px #2f6e92;
}

.header__Site .header__Site--Container .header__Site--De .selectItem {
  background: #34789F;
  box-shadow: inset 0 0 4px #2f6e92;
}

.header__Site .header__Site--Container .header__Site--De .header__User {
  margin: 0 0 0 1em;
  display: flex;
  justify-content: space-between;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure {
  margin: 0.2em 0.5em 0.2em 0;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure img {
  width: 45px;
  display: block;
  border-radius: 50%;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData {
  position: relative;
  cursor: pointer;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData span {
  color: white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu {
  position: absolute;
  background-color: #D8D8D8;
  width: 170px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -7em;
  margin-top: 1.6em;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub {
  list-style-type: none;
  border-bottom: 1px solid white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub .link {
  text-decoration: none;
  color: #3c8dbc;
}

.header__Welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dedede;
  padding: 0.5em;
  margin: 2em auto;
}

.header__Welcome .header__Welcome--Iz .ul {
  background-color: #F89406;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em;
  text-transform: uppercase;
}

.header__Welcome .header__Welcome--Iz .ul .list {
  list-style-type: none;
  display: inline-block;
  margin: 0 1em 0 0;
}

.header__Welcome .header__Welcome--Iz .ul .list a.link {
  text-decoration: none;
  color: white;
}

.header__Welcome .header__Welcome--Iz .ul .list a.actuality {
  text-transform: capitalize;
}

.header__Welcome .header__Welcome--De .title {
  font-weight: 400;
  font-size: 1em;
  color: #3C8DBC;
}

main .main__Content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  padding: 1em 0;
}

main .main__Content .main__Content--Iz {
  width: 16%;
  margin: 0 5em 0 0;
}

main .main__Content .main__Content--Iz .Iz--Figure {
  width: 200px;
}

main .main__Content .main__Content--Iz .Iz--Figure img {
  width: 100%;
  display: block;
}

main .main__Content .main__Content--Iz .Iz--Header {
  text-align: center;
}

main .main__Content .main__Content--Iz .Iz--Header .title {
  font-weight: 400;
  text-transform: capitalize;
}

main .main__Content .main__Content--De {
  width: 40%;
  padding: 1em 0 0 1em;
  background-color: #F3F3F3;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset {
  margin: 0 0 0.5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child {
  margin: 2em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child label:before {
  content: "";
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label {
  display: block;
  margin: 0 0 .5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label:before {
  content: "- ";
  font-weight: 800;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input {
  padding: 0.5em;
  width: 97%;
  border-radius: 3px;
  outline: medium none;
  border: none;
  border: 1px solid #8F8B8B;
  color: #8F8B8B;
  box-shadow: inset 0 0 29px #E2E1E1;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input:hover {
  box-shadow: 0 0 10px #2293D5;
  border: 1px solid #2293D5;
}

main .ContainerPropiedades {
  margin: 2em 0;
  background-color: #dedede;
}

main .ContainerPropiedades .articlesPropiedades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid white;
}

main .ContainerPropiedades .articlesPropiedades:hover {
  background-color: white;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Header {
  width: 20%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Header .title {
  font-weight: 700;
  font-size: 0.9em;
  color: #717273;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Description {
  width: 35%;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Description .description {
  font-size: 0.9em;
  color: #717273;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions {
  position: relative;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions i {
  color: #717273;
  cursor: pointer;
  width: 10px;
  margin: 0 0.5em 0 0;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .articlePropiedades--Actions--Elements {
  position: absolute;
  background-color: #fff;
  padding: 0.5em;
  box-shadow: inset 0 0 20px #dedede;
  top: 50%;
  margin-top: -2.5em;
  left: 50%;
  margin-left: 0.6em;
  display: none;
  width: 80px;
  text-align: left;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .articlePropiedades--Actions--Elements .ul--Elements .list {
  list-style-type: none;
}

main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions .articlePropiedades--Actions--Elements .ul--Elements .list .link {
  text-decoration: none;
  color: #717273;
  font-size: 0.8em;
}

.add .newPropiedad--Header {
  margin: 0 0 0.5em 0;
}

.add .newPropiedad--Header .title {
  margin: 0;
  font-weight: 400;
  color: #ddd;
}

.add .form--Container {
  display: flex;
  justify-content: space-between;
}

.add .newPropiedad--Form {
  width: 50%;
}

.add .newPropiedad--Form .fieldset--Steps {
  margin: 2em 0;
}

.add .newPropiedad--Form .fieldset--Steps .header--Steps .title {
  font-weight: 400;
  color: #3c8dbc;
  margin: 0.5em 0;
}

.add .newPropiedad--Form .fieldset--Form {
  border: none;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.add .newPropiedad--Form .fieldset--Form input[type='text'], .add .newPropiedad--Form .fieldset--Form input[type='number'], .add .newPropiedad--Form .fieldset--Form input[type='date'], .add .newPropiedad--Form .fieldset--Form select, .add .newPropiedad--Form .fieldset--Form input[type='email'], .add .newPropiedad--Form .fieldset--Form input[type='file'], .add .newPropiedad--Form .fieldset--Form input[type='tel'] {
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 4px;
  border: none;
  border: 1px solid #dedede;
  outline: medium none;
}

.add .newPropiedad--Form .fieldset--Form input[type='text']:focus, .add .newPropiedad--Form .fieldset--Form input[type='number']:focus, .add .newPropiedad--Form .fieldset--Form input[type='date']:focus, .add .newPropiedad--Form .fieldset--Form select:focus, .add .newPropiedad--Form .fieldset--Form input[type='email']:focus, .add .newPropiedad--Form .fieldset--Form input[type='file']:focus, .add .newPropiedad--Form .fieldset--Form input[type='tel']:focus {
  border-color: #66afe9;
}

.add .newPropiedad--Form .fieldset--Form input[type='submit'] {
  border: none;
}

.add .newPropiedad--Form .fieldset--Form .fieldset--Form--Figure {
  width: 250px;
  display: block;
  margin: 0 auto;
  border: 7px solid #dedede;
  border-radius: 4px;
  background-size: cover;
  display: block;
  height: 150px;
}

.add .newPropiedad--Form .fieldset--Form .subirImg {
  display: block;
  text-align: center;
  margin: 1em auto 1.3em auto;
  width: 25%;
  cursor: pointer;
}

.add .newPropiedad--Form .tree input, .add .newPropiedad--Form .tree select {
  width: 95% !important;
}

.view {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.view .view--Iz {
  width: 40%;
}

.view .view--Iz .view--Iz--Top {
  background-image: url("http://parabuenosaires.com/wp-content/uploads/2014/07/departamentos-en-venta-palermo-belgrano-puerto-madero-parabuenosaires.jpg");
  background-size: cover;
  margin: 0 auto;
  padding: 2em 2em;
  text-align: center;
  width: 50%;
  border: 4px solid #dedede;
}

.view .view--Iz .view--Iz--Top .title {
  font-weight: 400;
  color: white;
  text-shadow: 0 0 10px black;
  text-transform: capitalize;
}

.view .view--Iz .view--Iz--Info {
  margin: 1em 0;
}

.view .view--Iz .view--Iz--Info .view--Iz--Info--Header {
  margin: 1em 0 2em 0;
  border-bottom: 1px solid #66afe9;
  padding: 1em 0;
}

.view .view--Iz .view--Iz--Info .view--Iz--Info--Header .title {
  font-weight: 400;
  color: #66afe9;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz {
  width: 40%;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De {
  width: 50%;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz .titleNames,
.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De .titleNames {
  letter-spacing: 0.5px;
  padding: 0.5em;
  color: #3c8dbc;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  line-height: 30px;
}

.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz .titleNames i,
.view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De .titleNames i {
  color: #66afe9;
  font-size: 1.4em;
}

.view .view--De {
  width: 45%;
  border-left: 1px solid #dedede;
  padding: 0 0 0 6.5em;
}

.view .view--De .view--De--Top {
  margin: 0 0 2em 0;
}

.view .view--De .view--De--Top .btn--Notify {
  border-radius: 4px;
  background-color: #3c8dbc;
  margin: 0 1.5em 0 0;
}

.view .view--De .view--De--Top .btn--Calendar {
  background-color: #E52F62;
  border-radius: 4px;
  margin: 0 1.5em 0 0;
}

.view .view--De .view--De--Top .btn--Ticket {
  background-color: #27ae60;
  border-radius: 4px;
}

.view .view--De .view--De--ShowNotify {
  background-color: #f5f3f3;
  padding: 0.5em;
}

.view .view--De .view--De--ShowNotify .header--ShowNotify {
  text-align: center;
}

.view .view--De .view--De--ShowNotify .header--ShowNotify .title {
  font-weight: 400;
  color: #3c8dbc;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify {
  margin: 0.5em 0;
  max-height: 450px;
  overflow-y: scroll;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify .list--ShowNotify {
  list-style-type: none;
  color: #6f6f6f;
  padding: 0.5em 0.5em;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify .list--ShowNotify i {
  color: #3c8dbc;
  margin: 0 0.5em 0 0;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar {
  width: 12px;
  padding: 0.5em;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.view .view--De .view--De--ShowNotify .container--ShowNotify::-webkit-scrollbar-thumb {
  background: #3c8dbc;
  border-radius: 2px;
}

.view .view--De .view--De--ShowNotify .showMessageNotAll {
  background-color: #dedede;
  padding: 1em 0.8em;
  text-align: center;
}

.view .view--De .view--De--ShowNotify .showMessageNotAll .title {
  font-weight: 400;
}

.view .view--De .view--De--ShowPagos {
  background-color: #f5f3f3;
  padding: 0.5em;
  margin: 1em 0 0 0;
}

.view .view--De .view--De--ShowPagos .header--ShowPagos {
  text-align: center;
}

.view .view--De .view--De--ShowPagos .header--ShowPagos .title {
  font-weight: 400;
  color: #27ae60;
}

.view .view--De .view--De--ShowPagos .showMessageNotAll {
  background-color: #dedede;
  padding: 1em 0.8em;
  text-align: center;
}

.view .view--De .view--De--ShowPagos .showMessageNotAll .title {
  font-weight: 400;
}

.view .view--De .view--De--ShowPagos .container--ShowPagos .list--ShowPagos {
  list-style-type: none;
  color: #6f6f6f;
  padding: 0.5em 0.5em;
}

.view .view--De .view--De--ShowPagos .container--ShowPagos .list--ShowPagos i {
  color: #27ae60;
}

.view .view--NotifyBG {
  background-color: rgba(0, 0, 0, 0.49);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.view .view--Notify {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
  display: none;
}

.view .view--Notify .formNotify__Fieldset textarea {
  resize: none;
}

.view .view--Notify .formNotify__Fieldset input,
.view .view--Notify .formNotify__Fieldset textarea {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
}

.view .view--Notify .formNotify__Fieldset input[type='submit'] {
  background-color: #1abc9c;
  color: white;
  outline: medium none;
}

.view .view--Pagos {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
}

.view .view--Pagos .formPagos__Fieldset textarea {
  resize: none;
}

.view .view--Pagos .formPagos__Fieldset input,
.view .view--Pagos .formPagos__Fieldset textarea {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
}

.view .view--Pagos .formPagos__Fieldset input[type='submit'] {
  background-color: #1abc9c;
  color: white;
  outline: medium none;
}

.view .view--Pagos .formPagos__Fieldset--Flex {
  display: flex;
  justify-content: space-between;
}

.view .view--Pagos .formPagos__Fieldset--Flex label {
  display: block;
}

.view .view--Pagos .formPagos__Fieldset--Flex div input, .view .view--Pagos .formPagos__Fieldset--Flex select {
  border-radius: 3px;
  border: none;
  margin: 0.7em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #dedede;
  outline: medium none;
  width: 88%;
}

.view .view--Calendar {
  position: absolute;
  left: 50%;
  margin-left: -20em;
  background-color: #f3f3f3;
  padding: 1em;
  width: 50%;
  display: none;
}
