h1, h2, h3, h4, h5, h6,figure, p {
	margin: 0;
}
fieldset {
	border: none;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}
.c1 {
	width: 1220px;
}
.c2 {
	width: 620px;
}
.c3 {
	width: 140px;
}
.absolute {
	position: absolute;
}
.uNoneDisplay {
	display: none;
}
.uNone {
	text-decoration: none;
}
* {
	border-sizing: border-box;
}

* {
	box-sizing: border-box;
}
$widthPrimary: 1220px;
$centerMargin: 0 auto;
$blanco: white;
$naranja: #F89406;
.widthBase {
	width: $widthPrimary;
	margin: $centerMargin;
}

body {
	font-family: 'Open Sans', sans-serif;
}
.bgHome {
	background: #3498DB;
}
.panelHomeLogin {
	position: absolute;
	width: 450px;
	background-color: #fff;
	padding: 1em;
	left: 50%;
	top: 50%;
	margin-left: -14em;
	margin-top: -5em;
	box-shadow: 10px 14px 0 rgba(0, 0, 0, 0.27);
	.panelHomeLogin__Header {
		text-align: center;
		padding: 0 0 1em 0;
		.title {
			font-weight: 400;
		}
	}
	.formPanelHome--Form {
		fieldset {
			margin: 0 0 0.5em 0;
		}
		fieldset input[type='text'], input[type='password'] {
			width: 95%;
			height: 30px;
			padding: 0.5em 0.5em;
			outline: medium none;
			transition: all 0.5s linear;
			&:hover {
				box-shadow: 0 0 12px #3498DB;
				border: 1px solid #3498DB;
				color: #3498DB;
			}
		}
		fieldset:nth-child(3) {
			text-align: center;
		}
		fieldset input[type='submit'] {
			background-color: rgb(52, 152, 219);
			border: none;
			padding: 0.8em 1em;
			color: white;
			width: 50%;
			margin: 0 auto;
			border-radius: 5px;
		}
	}
}

@import "header";
@import "main";

@import "panel";