h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.c1 {
  width: 1220px;
}

.c2 {
  width: 620px;
}

.c3 {
  width: 140px;
}

.absolute {
  position: absolute;
}

.uNone {
  text-decoration: none;
}

* {
  border-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.bgHome {
  background: #3498DB;
}

.panelHomeLogin {
  position: absolute;
  width: 450px;
  background-color: #fff;
  padding: 1em;
  left: 50%;
  top: 50%;
  margin-left: -14em;
  margin-top: -5em;
  box-shadow: 10px 14px 0 rgba(0, 0, 0, 0.27);
}

.panelHomeLogin .panelHomeLogin__Header {
  text-align: center;
  padding: 0 0 1em 0;
}

.panelHomeLogin .panelHomeLogin__Header .title {
  font-weight: 400;
}

.panelHomeLogin .formPanelHome--Form fieldset {
  margin: 0 0 0.5em 0;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text'], .panelHomeLogin .formPanelHome--Form input[type='password'] {
  width: 95%;
  height: 30px;
  padding: 0.5em 0.5em;
  outline: medium none;
  transition: all 0.5s linear;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='text']:hover, .panelHomeLogin .formPanelHome--Form input[type='password']:hover {
  box-shadow: 0 0 12px #3498DB;
  border: 1px solid #3498DB;
  color: #3498DB;
}

.panelHomeLogin .formPanelHome--Form fieldset:nth-child(3) {
  text-align: center;
}

.panelHomeLogin .formPanelHome--Form fieldset input[type='submit'] {
  background-color: #3498db;
  border: none;
  padding: 0.8em 1em;
  color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.header__Site {
  background-color: #3c8dbc;
}

.header__Site .header__Site--Container {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.header__Site .header__Site--Container .header__Site--Iz .title {
  font-weight: 400;
  color: white;
}

.header__Site .header__Site--Container .header__Site--De {
  width: 37.5%;
  display: flex;
}

.header__Site .header__Site--Container .header__Site--De .ul .list {
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 0;
  width: 150px;
  text-align: center;
  line-height: 30px;
  padding: 0.6em;
}

.header__Site .header__Site--Container .header__Site--De .ul .list i {
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
}

.header__Site .header__Site--Container .header__Site--De .ul .list:hover {
  background: #34789F;
  box-shadow: inset 0 0 4px #2f6e92;
}

.header__Site .header__Site--Container .header__Site--De .selectItem {
  background: #34789F;
  box-shadow: inset 0 0 4px #2f6e92;
}

.header__Site .header__Site--Container .header__Site--De .header__User {
  margin: 0 0 0 1em;
  display: flex;
  justify-content: space-between;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure {
  margin: 0.2em 0.5em 0.2em 0;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__UserFigure img {
  width: 45px;
  display: block;
  border-radius: 50%;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData {
  position: relative;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData span {
  color: white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu {
  position: absolute;
  background-color: #D8D8D8;
  width: 170px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -7em;
  margin-top: 1.6em;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub {
  list-style-type: none;
  border-bottom: 1px solid white;
}

.header__Site .header__Site--Container .header__Site--De .header__User .header__ShowData .header__ShowData--SubMenu .ul .listSub .link {
  text-decoration: none;
  color: #3c8dbc;
}

main .main__Content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  padding: 1em 0;
}

main .main__Content .main__Content--Iz {
  width: 16%;
  margin: 0 5em 0 0;
}

main .main__Content .main__Content--Iz .Iz--Figure {
  width: 200px;
}

main .main__Content .main__Content--Iz .Iz--Figure img {
  width: 100%;
  display: block;
}

main .main__Content .main__Content--Iz .Iz--Header {
  text-align: center;
}

main .main__Content .main__Content--Iz .Iz--Header .title {
  font-weight: 400;
  text-transform: capitalize;
}

main .main__Content .main__Content--De {
  width: 40%;
  padding: 1em 0 0 1em;
  background-color: #F3F3F3;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset {
  margin: 0 0 0.5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child {
  margin: 2em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset:last-child label:before {
  content: "";
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label {
  display: block;
  margin: 0 0 .5em 0;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset label:before {
  content: "- ";
  font-weight: 800;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input {
  padding: 0.5em;
  width: 97%;
  border-radius: 3px;
  outline: medium none;
  border: none;
  border: 1px solid #8F8B8B;
  color: #8F8B8B;
  box-shadow: inset 0 0 29px #E2E1E1;
}

main .main__Content .main__Content--De .formularioEdit .formularioFieldset input:hover {
  box-shadow: 0 0 10px #2293D5;
  border: 1px solid #2293D5;
}
