main {
    .show__Welcome--Data {
        display: flex;
        justify-content: space-between;
        margin: 0 0 2em 0;
        .data__Services {
            &:hover {
                box-shadow: 0 0 10px #dedede;
            }
            .data__Services--Cont {
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 200px;
                background-color: white;
                border: 1px solid #dedede;
                .Show {
                    font-size: 5em;
                    font-weight: 400;
                    color: #aeaeae;
                }
            }
            .data__Services--Show {
                text-align: center;
                padding: 0.5em 1em;
                background-color: #4CAF50;
                color: white;
                .show {
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    .show__Welcome--Details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 1em 0;
        .Welcome--Iz {
            background-color: white;
            padding: 1em;
            border: 1px solid #dedede;
            width: 60%;
            transition: all 0.5s linear;
            &:hover {
                box-shadow: 0 0 15px #dedede;
            }
            .Welcome--Header {
                text-align: center;
                margin: 0 0 1em 0;
                .title {
                    font-weight: 400;
                }
            }
        }
        .Welcome--De {
            background-color: white;
            padding: 1em;
            width: 30%;
            border: 1px solid #dedede;
            transition: all 0.5s linear;
            &:hover {
                box-shadow: 0 0 15px #dedede;
            }
            .Welcome--Header {
                text-align: center;
                .title {
                    font-weight: 400;
                }
            }
            .Welcome--User {
                text-align: center;
                margin: 1em 0;
                .user--Figure {
                    text-align: center;
                    img {
                        display: block;
                        margin: 0 auto;
                        border: 1px solid #dedede;
                    }
                }
                .user--Data {
                    padding: 1em 0;
                    .ul {
                        width: 50%;
                        margin: 0 auto;
                        .list {
                            list-style-type: none;
                        }
                    }
                }
                .user--DetailsAccount {
                    margin: 1em 0;
                    .showDetails {
                        display: block;
                    }
                    .showActive {
                        display: block;
                        background-color: #2196F3;
                        width: 20%;
                        margin: 1em auto;
                        padding: 0.5em 0;
                        border-radius: 4px;
                        color: white;
                    }
                }
            }
        }
    }
    .show__Welcome--Options {
        display: flex;
        justify-content: space-between;
        .Options__Container {
            width: 48%;
            background-color: white;
            height: 500px;
            .options__Container--Header {
                background-color: #3498DB;
                padding: 0.2em 1em;
                .title {
                    font-weight: 400;
                    color: white;
                }
            }
        }
        .options__Container--Ul {
            .listPayment {
                list-style-type: none;
                padding: 0.5em;
                color: #8d8d8d;
                border-bottom: 1px solid #f0eaea;
                font-family: 'Lato', sans-serif;
                .namePropiedad {
                    text-transform: uppercase;
                }
            }
            .figure {
                margin: 4em 0;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .header {
                text-align: center;
                .title {
                    font-weight: 400;
                }
            }
        }
        .OptionsAside__Container {
            width: 45%;
            background-color: white;
            .options__Container--Header {
                background-color: #F44336;
                padding: 0.2em 1em;
                .title {
                    font-weight: 400;
                    color: white;
                }
            }
            .options__Container--Show {
                padding: 1em;
                .description {
                    color: #727272;
                    margin: 0 0 1em 0;
                }
            }
        }
    }
    .main__Content {
        width: 1220px;
        margin: $centerMargin;
        display: flex;
        padding: 1em 0;
        align-items: flex-start;
        margin-top: 2em;
        .main__Content--Iz {
            width: 20%;
            margin: 0 5em 0 0;
            background-color: white;
            padding: 1em;
            align-items: flex-start;
            border: 1px solid #dedede;
            .formUploadImage {
                text-align: center;
                input[type='submit'] {
                    border: none;
                    margin: 1em 0;
                    padding: 0.5em 1em;
                    background-color: #3498db;
                    outline: medium none;
                    color: white;
                }
            }
            .Iz--Figure {
                width: 200px;
                position: relative;
                .Iz--Change {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.55);
                    display: none;
                }
                &:hover {
                    .Iz--Change {
                        display: block;
                        text-align: center;
                        i {
                            color: white;
                            font-size: 2em;
                            margin: 2.5em 0;
                            cursor: pointer;
                        }
                    }
                }
            }
            .Iz--Figure img {
                width: 100%;
                display: block;
            }
            .Iz--Header {
                text-align: center;
                .title {
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
            &:hover {
                box-shadow: 0 0 10px #dedede;
            }
        }
        .main__Content--De {
            width: 100%;
            padding: 1em 0 0 1em;
            background-color: #fff;
            border: 1px solid #dedede;
            .formularioEdit {
                .formularioFieldset {
                    margin: 0 0 0.5em 0;
                    &:last-child {
                        margin: 2em 0;
                        label {
                            &:before {
                                content: "";
                            }
                        }
                    }
                }
                .formularioFieldset label {
                    display: block;
                    margin: 0 0 .5em 0;
                    &:before {
                        content: "- ";
                        font-weight: 800;
                    }
                }
                .formularioFieldset input {
                    padding: 0.5em;
                    width: 97%;
                    border-radius: 3px;
                    outline: medium none;
                    border: none;
                    border: 1px solid #8F8B8B;
                    color: #8F8B8B;
                    box-shadow: inset 0 0 29px #E2E1E1;
                    &:hover {
                        box-shadow: 0 0 10px #2293D5;
                        border: 1px solid #2293D5;
                    }
                }
            }
            &:hover {
                box-shadow: 0 0 10px #dedede;
            }
        }
    }
    .ContainerPropiedades {
        margin: 2em 0;
        //background-color: #dedede;
        .articlesPropiedades {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(#eaeaea, #e6e6e6);
            padding: 0.8em 0.5em;
            box-shadow: inset 0 0 31px #dad6d6;
            border-bottom: 2px solid #dad7d7;
            &:hover {
                background-color: white;
            }
            .articlesPropiedades--Header {
                width: 20%;
                .title {
                    font-weight: 700;
                    font-size: 0.9em;
                    color: #717273;
                }
            }
            .articlesPropiedades--Description {
                width: 35%;
                .description {
                    font-size: 0.9em;
                    color: #717273;
                }
            }
            .articlesPropiedades--Cant {
                width: 15%;
                .description {
                    font-size: 0.9em;
                    color: #717273;
                }
            }
            .articlesPropiedades--Actions {
                display: flex;
                justify-content: space-between;
                width: 22%;
                .Actions--Buttons {
                    .linkBtn {
                        i {
                            margin: 0 0.4em 0 0;
                        }
                        background-color: #dedede;
                        padding: 0.5em 0.8em;
                        border-radius: 4px;
                        color: white;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .Actions--Buttons:first-child {
                    .linkBtn {
                        background-color: #3498db;
                    }
                }
                .Actions--Buttons:nth-child(2) {
                    .linkBtn {
                        background-color: #27ae60;
                    }
                }
                .Actions--Buttons:last-child {
                    .linkBtn {
                        background-color: #e74c3c;
                    }
                }
            }
            .articlesPropiedades--Actions--Disponibles {
                display: flex;
                justify-content: space-between;
                width: 22%;
                .Actions--Buttons {
                    .linkBtn {
                        i {
                            margin: 0 0.4em 0 0;
                        }
                        background-color: #dedede;
                        padding: 0.5em 0.8em;
                        border-radius: 4px;
                        color: white;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .Actions--Buttons:first-child {
                    .linkBtn {
                        background-color: #3498db;
                    }
                }
                .Actions--Buttons:nth-child(2) {
                    .linkBtn {
                        background-color: #27ae60;
                    }
                }
                .Actions--Buttons:last-child {
                    .linkBtn {
                        background-color: #e74c3c;
                    }
                }
            }
        }
    }
}

.support {
    .support--Iz {
        background-color: white;
        width: 40%;
        padding: 1em;
        border: 1px solid #dedede;
        .formSupport {
            .formSupport--Fieldset {
                margin: 0.5em 0;
                .labelSupport--Label {
                    display: block;
                    font-size: 0.9rem;
                    margin: 0 0 0.5em 0;
                }
                input {
                    width: 96%;
                    padding: 0.5em 0.5em;
                    border: 1px solid #dfdfdf;
                    outline: medium none;
                    &:focus {
                        border-color: #0069ff;
                    }
                }
                textarea {
                    width: 96%;
                    resize: none;
                    border: 1px solid #dfdfdf;
                    outline: medium none;
                    padding: 0.5em;
                    &:focus {
                        border-color: #0069ff;
                    }
                }
                input[type='submit'] {
                    width: 25%;
                    background-color: #0069ff;
                    color: white;
                    font-size: 0.9em;
                    padding: 0.8em 1em;
                    font-family: helvetica;
                    outline: medium none;
                }
            }
        }
    }
    .support--De {
        background-color: white;
        padding: 1em;
        border: 1px solid #dedede;
        width: 40%;
        .support--De--Ticket {
            .ticket--Header {
                margin: 0 0 1em 0;
                .title {
                    font-weight: 400;
                }
            }
        }
        .ticket--Container a {
            display: flex;
            text-decoration: none;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dedede;
            background-color: #04a193;
            padding: 0.5em;
            &:hover {
                background-color: #058b7f;
            }
            .ticket--Container--Iz {
                .title {
                    color: white;
                }
            }
            .ticket--Container--Center {
                .title {
                    color: white;
                }
            }
            .ticket--Container--De {
                .title {
                    color: white;
                    font-size: 0.9em;
                }
                padding: 0.3em;
                background-color: #2c706a;
            }
        }
    }
}

.agenda {
    background-color: white; 
    padding: 0 1em 1em 1em;
    .Propiedades {
        margin: 2em 0;
        text-align: right;
        a {
            font-size: 0.9rem;
        }
    }

    .agendaTabs {
        padding: 0 0 1em 0;
        .agendaTabs__List {
            list-style-type: none;
            display: inline-block;
            margin: 1em 1em;
            &:first-child {
                margin-left: 0;
            }
            .link {
                text-decoration: none;
                padding: 1em;
                background-color: #607D8B;
                color: white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                &:hover {
                    background-color: #3b525d;
                }
            }
            .selectItemAgend {
                background-color: #3b525d;
            }
        }
    }

    .containerTabs {
        .containerTabs__Agenda {
        }
        .containerTabs__Contratos {
            display: none;
            
        }
        .containerTabs__VencimientoContratos {
            display: none;
        }
        .containerTabs__VencimientosPrecios {
            display: none;
        }
        .containerTabs__VencimientoInquilino { 
            display: none;
        }
    }
}

.add {
    .newPropiedad--Header {
        margin: 0 0 0.5em 0;
        .title {
            margin: 0;
            font-weight: 400;
            color: #3c8dbc;
            font-family: 'Roboto', sans-serif;
            font-size: 1.3em;
            padding: 0.5em;
            background-color: white;
        }
    }
    .form--Container {
        display: flex;
        justify-content: space-between;
    }
    .jsAppendDatesEdit:nth-child(1) {
		background: red;
    }
    .newPropiedad--Form {
        width: 100%;
        border: 1px solid #E6E9ED;
        background-color: #fff;
        padding: 0;
        .fieldset--StepsContainer {
            display: flex;
            justify-content: space-between;
            width: 94%;
            padding: 0 1em;
        }
        .fieldset--Steps {
            margin: 2em 0;
            width: 40%;
            padding: 0 1em;
            .header--Steps {
            	.sum {
            		margin: 0 0 0 0.5em;
            		background-color: #3c8dbc;
            		color: white;
            		padding: 0 0.5em;
            		cursor: pointer;
            	}
                .title {
                    i {
                        margin: 0 0.5em 0 0;
                    }
                    font-weight: 400;
                    color: #3c8dbc;
                    margin: 0.5em 0;
                }
            }
        }
        .fieldset--Form {
            border: none;
            padding: 0;
            margin: 0 0 0.5em 0;
            input[type='text'],
            input[type='number'],
            input[type='date'],
            select,
            input[type='email'],
            input[type='file'],
            input[type='tel'] {
                padding: 0.5em 1em;
                width: 98%;
                border-radius: 4px;
                border: none;
                border: 1px solid #dedede;
                outline: medium none;
                &:focus {
                    border-color: #66afe9;
                }
            }
            input[type='submit'] {
                border: none;
            }
            input.error {
                border: 1px solid red;
            }
            .fieldset--Form--Figure {
                width: 250px;
                display: block;
                margin: 0 auto;
                border: 7px solid #dedede;
                border-radius: 4px;
                background-size: cover;
                display: block;
                height: 150px;
            }
            .subirImg {
                display: block;
                text-align: center;
                margin: 1em auto 1.3em auto;
                width: 25%;
                cursor: pointer;
            }
            label.error {
                color: red;
                display: block;
                margin-bottom: 0.5em;
                font-size: 0.9rem;
            }
            .sum {
                cursor: pointer;
                font-weight: 700;
                padding: 0.5em 0 0.5em 0;
                display: block;
                color: #fff;
                background-color: #3c8dbc;
                width: 20px;
                text-align: center;
            }
            .delete {
                cursor: pointer;
                font-weight: 700;
                padding: 0.5em 0 0.5em 0;
                display: block;
                color: #fff;
                width: 20px;
                text-align: center;
                background-color: #E91E63;
            }
        }
        .tree {
            input,
            select {
                width: 95%!important;
            }
        }
    }
}

.animateClose {
    text-align: center;
    padding: 1em 0;
    img {
        cursor: pointer;
    }
}

//Modals
.modal-content {
    width: 1220px;
    margin: 0 auto;
    .modal-content--Header {
        margin: 0 0 1em 0;
        .title {
            color: white;
            font-weight: 400;
        }
    }
    .modal-content--View {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .view--Clients {
            margin: 0 1em 1em 0;
            background-color: white;
            padding: 1em;
            border-radius: 4px;
            box-shadow: 0 11px 10px #318d8a;
            .view--Clients--Image {
                text-align: center;
            }
            .view--Clients--Name {
                text-align: center;
                .Name:nth-child(1),
                .Name:nth-child(2) {
                    text-transform: capitalize;
                }
            }
        }
    }
}

//Services multitple archives in css
.container--Services {
    width: 100%;
    .container--Services--Ul {
        .list {
            list-style: none;
            margin: 1em 0;
            .link {
                text-decoration: none;
                color: white;
                background-color: rgb(52, 152, 219);
                padding: 0.5em 1em;
            }
        }
    }
    .container--Services--View {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 1em 0;
        margin: 2em 0;
        .view--Service {
            background-color: white;
            padding: 1em;
            height: auto;
            border: 1px solid #d9d5d5;
            .header {
                text-align: center;
                h2 {
                    font-weight: 400;
                    margin: 0.5em 0;
                    font-size: 0.9em;
                }
            }
            .figure img {
                width: 150px;
                height: 80px;
            }
            .view--Services--Options {
                display: flex;
                justify-content: space-around;
                div i {
                    color: #3498db;
                    cursor: pointer;
                }
            }
        }
    }
    form {
        margin: 2em 0;
        height: 450px;
    }
}

.admin {
    margin: 2em auto;
    background-color: white;
    border-color: 1px solid #dedede;
    padding: 1em;
    .widthBase--Header {
        .title {
            font-weight: 400;
        }
    }
    .usersTickets {
        .article {
            .list {
                list-style-type: none;
                background-color: whitesmoke;
                margin: 0.5em 0;
                padding: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .link {
                    text-decoration: none;
                    color: #34a9ed;
                }
                .date {
                    color: #34a9ed;
                    margin: 0 0 0 1em;
                }
                .subLink {
                    background-color: #4CAF50;
                    padding: 0.6em 0.6em;
                    text-decoration: none;
                    color: white;
                    border-radius: 4px;
                    border: 1px solid #009688;
                }
            }
        }
    }
}

.toPrint__BG {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 899;
    background-color: rgba(0, 0, 0, 0.3);
}

.toPrint__Container {
    position: absolute;
    top: 20%;
    background-color: white;
    left: 32%;
    width: 30%;
    z-index: 999;
    padding: 1em;
    .toPrint__Container--Header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 1em;
        border: 1px solid #dedede;
        .Header--Iz {
            $toCenter: center;
            .Header--Figure {
                text-align: $toCenter;
                img {
                    width: 50%;
                }
            }
            .Header--Description {
                text-align: $toCenter;
            }
        }
        .Header--Iz,
        .Header--De {
            width: 50%;
            .Header--De--Header {
                margin: 0 0 1em 0;
            }
            .Sub {
                margin: 0 0 1em 0;
            }
        }
    }
    .toPrint__Show {
        padding: 1em;
        border: 1px solid black;
        margin: 1em 0;
        overflow: hidden;
        p {
            margin-bottom: 1em;
        }
        .toPrint__Show--Details {
            .to__Ul {
                .list {
                    list-style-type: none;
                    display: inline-block;
                }
            }
        }
        &:nth-child(1) {
            display: none;
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            display: none;
        }
        &:nth-child(4) {
            display: none;
        }
    }
    .toPrint__Show--Close {
        text-align: center;
        padding: 1.5em 0;
        .delete {
            cursor: pointer;
            background-color: #F44336;
            color: white;
            padding: 0.5em 1em;
        }
    }
    .toPrint__Options--Details {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }
}
