@media print {
	.header__Site, .header__Welcome--Iz, .view--Iz--Top, .header__Welcome--De, .view--Iz--SubMenu {
		display: none;
	}
	.view--NotyContainer--Download {
		display: none;
	}
	.view--Iz--SubMenu {
		display: none;
	}
	.subMenu--Ul {
		display: none;
	}
	.view--NotifyContainer {
		display: none;
	}
	
	.view--Iz--Top {
		display: none!important;
	}	

	#dataDown {
		display: none!important;
	}

	.dataTable {
		display: none;
	}

	//Print Facture
		
	.toPrint__Container {
		display: block;
	}

	.toPrint__Container {
		width: 100%!important;
		left: 15%;
		font-size: 1.5em;
	}
	 .toPrint__Show  {
	 	display: block!important;
	 }
	
	.toPrint__Show--Close {
		display: none!important;
	}



}