@media screen and (min-width: 0px) and (max-width: 769px) {
    //
    .header__Welcome  {
    	display: none;
    }
    .Welcome--ShowDetails {
    	display: none;
    }

    //Base Ancho
    .widthBase {
        width: 100%;
        margin: 6em 0;
    }

	//
	.propiedadesLink {
		padding: 0.5em;
	}

    //Home Login
    .panelHomeLogin {
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 50%;
        top: 24vh;
    }
    //Header
    .header__Site {
        .header__Site--Container {
            width: 100%;
            display: none;
            .header__Site--De {
                width: 45%!important;
                .ul {
                    display: none;
                }
            }
        }
    }
    //Header
    .header__Welcome {
        width: 100%;
        .header__Welcome--De {
            display: none;
        }
    }
    main .show__Welcome--Details {
        display: block!important;
    }

    .Welcome--Iz .Welcome--Header {
    	margin: 1em 0!important;
    }
    //Set
    .Welcome--Iz {
        width: 100%!important;
    }
    .Welcome--De {
        width: 100%!important;
    }
    //
    .show__Welcome--Data {
        display: block!important;
    }
    .data__Services {
        .data__Services--Cont {
            width: 100%!important;
        }
    }
    //
    .show__Welcome--Options {
        display: block!important;
    }
    //
    .Options__Container {
        width: 100%!important;
    }
    .OptionsAside__Container {
        width: 100%!important;
    }
    .modal-content {
        width: 50%;
        font-size: 12px;
        text-align: center;
    }
    .main__Content {
        width: 100%!important;
        display: block!important;
        .main__Content--Iz {
            width: 100%!important;
            margin: 0 0 1em 0!important;
            .Iz--Figure {
            	width: 50%!important;
            	margin: 0 auto;
            	&:hover {
            		.Iz--Change i {
            			margin: 1em 0!important; 
            		}
            	}
            }
            img {
                width: 100%!important;
            }
        }
    }

    .header__Site--Mobil {
    	background-color: #344c59;
    	padding: 0.5em 1em;
    	display: block!important;
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;
    	z-index: 899;
    	.Mobil--Container {
    		display: flex;
    		justify-content: space-between;
    		.title { 
				color: white;
				font-weight: 400;
    		}
    	}
    	.Mobil--Sub {
    		display: none;
    		z-index: 899;
    		.ulSub {
    			padding: 0;
    			margin: 0;
    			.list {
    				list-style-type: none;
    				.link {
    					text-decoration: none;
    					color: #828181;
    					font-size: 0.9em;
    					border-bottom: 1px solid #828181;
    					display: block;
    					width: 100%;
    					padding: 0.5em;
    					&:active {
    						background-color: white;
    						color: black;
    					}
    				}
    			}
    		}
    	}
    }

    main .show__Welcome--Details .Welcome--Iz {
    	margin: 0 0 1em 0;
    	display: none;
    }

    main .ContainerPropiedades .articlesPropiedades {
    	display: block;
    	.articlesPropiedades--Header {
    		width: 100%;
    		text-align: center;
    		padding: 0.5em;
    		.title {
    			text-transform: uppercase;
    		}
    	}
    	.articlesPropiedades--Description {
    		width: 100%;
    		text-align: center;
    		padding: 0.5em;
    	}
    	.articlesPropiedades--Cant {
    		width: 100%;
    		text-align: center;
    		padding: 0.5em;
    	}
    	.articlesPropiedades--Actions {
    		width: 100%;
    		margin: 1em 0;
    	}
    }

    .view .view--Iz .view--Iz--Top {
    	text-align: center;
    	position: inherit;
    	.itemsProperty {
    		margin: 0;
    		text-align: center;
    		.list {
    			margin: 0;
    			&:last-child {
    				margin: 0;
    			}
    		}
    		.btn {
    			padding: 0.5em;
    		}
    	}
    }

    .view .view--Iz .view--Iz--SubMenu {
    	text-align: center;
    	.subMenu--Ul {
    		.list {
    			margin: 0.5em;
    		}
    	}
    }

    .view .view--Iz .view--Iz--Top .itemsProperty {
    	width: 100%;
    	position: inherit;
    }

    .view--Iz--Info {
    	width: 100%!important;
    }

    .view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--Iz .titleNames, .view .view--Iz .view--Iz--Info .view--Iz--Articls .Articls--De .titleNames {
    	font-size: 14px;
    }

    .view .view--Iz .view--Iz--Info {
    	overflow: hidden;
    }
    .view .view--Notify {
    	left: 16%!important;
    	margin-left: inherit;
    	width: 70%;
    }

    .add .newPropiedad--Form .fieldset--StepsContainer {
    	display: block;
    }

    .add .newPropiedad--Form .fieldset--Steps {
    	width: 100%;
    }

    .uMarginDouble {
    	text-align: center;
    }
	
	.NotifyContainer {
		margin-top: 0!important;
	}
	
	#dataDown table {
		width: 100%!important;
	}

	.view--NotifyContainer {
		width: 90%;
		margin: 0 auto;
	}
	
	main .ContainerPropiedades .articlesPropiedades .articlesPropiedades--Actions--Disponibles {
		width: 100%;
		margin: 1em 0;
	}

	.view .view--Pagos {
		margin-left: 0;
		width: 70%;
		left: 14%;
	}

	.view .view--Iz {
		width: 90%;
		margin: 0 auto;
	}
	
	.modalbox--Show .modalbox--Show---Figure {
		width: 90%!important;
		margin: 5em auto;
		background-color: white;
	}
	.modalbox--Show .modalbox--Show---Figure .img {
		width: 50%;
		margin: 0 auto;
	}

	.flexContainer {
		display: block!important;
	}

	.config .config--Modulos .Modulos {
		width: 80%;
		margin: 0 auto 1em auto;
	}
	.config--Email {
		display: block!important;
	}
	.config .config--Email .config--Email--Form {
		width: 90%;
		margin: 0 auto;
	}
	.config--Email--Demo {
		display: none;
	}
	
	.support .support--Iz {
		width: 90%;
		margin: 0 auto;
	}

	.support .support--De {
		width: 90%;
		margin: 1em auto 0 auto;
	}
	
	.supportShow {
		width: 90%;
	}
	.supportOptions {
		width: 90%;
		margin: 0 auto;
	}

	.config--Base {
		margin: 1em!important;
	}
	
	.config--Email {
		input[type='file'] {
				width: 80%;
		}
	}
	.formSupport {
		input[type="submit"] {
			width: 50%!important;
		}
	}
	.ticket--Container--Iz {
		display: none;
	}
	.payment {
		width: 90%;
	}

	#dataDown {
		width: 90%;
		margin: 0 auto;
	}
	.dataTables_info {
		display: none;
	}
	.dataTables_length {
		display: none;
	}

	#calendario {
		.c-grid {
			width: 100%!important;
		}
		.c-event-grid {
			width: 100%!important;
		}
	}
}
